{% block title %} <title>Login Page</title> {% endblock %}

{% block content %}
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<style>
    body {
        background-image: url('https://wallpapers.com/images/hd/blazing-soccer-ball-hd-rcfdrgy7wulxl8sc.webp');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        width: 600px;
    }

    h1 {
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label {
        margin-bottom: 8px;
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .home-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #ffffff;
        border: 1px solid #ccc;
        padding: 8px 16px;
        border-radius: 5px;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
    }
</style>

<div class="container">
    <h1>Login Page</h1>
    <a href="{% url 'home' %}" class="home-button">Home</a>

    <!-- Alert Messages -->
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter User">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Password">
        <input type="submit" value="Login">
        <p>Haven't signed up yet? <a href="{% url 'register' %}">Sign Up</a></p>
    </form>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
